:root {
  --text-grey: rgba(224, 224, 224, 0.6);
  --text-grey-200: rgba(224, 224, 224, 0.2);
  --text-white: rgba(255, 255, 255, 0.8);
  --text-white-variant: #bbb;
  --text-dark: #333;

  --bg-variant: darkviolet;
}