@use './abstracts/' as *;
@use './base/' as *;
@use './components/button' as *;
@use './components/weather' as *;


@media screen and (max-width: 650px) {
   .container {
      .column {
         padding: 1.5em;
         width: 100%;
         height: 40%;
      }

      .weather-info {
         width: 100%;
         gap: $pad-300;
         grid-template-columns: max-content 1fr auto;

         .temp {
            font-size: $fs-600;
            word-spacing: -11px;
            margin-top: 5px;
         }

         .city-date {
            overflow: hidden;

            h1 {
               font-size: $fs-350;
            }

            .region-date {
               .region {
                  margin-top: 0px;
               }

               .time {
                  padding-top: 0;
               }
            }

         }

         .weather {
            @include flex-column($align: center);
            gap: 0.3em;
            margin-left: auto;

            .weather-icon {
               width: 60px;
               height: 60px;
            }

            .condition {
               font-size: 0.9rem;
               letter-spacing: $ls-100;
               text-shadow: $ts-100;
            }

         }
      }

      .weather-panel {
         position: relative;
         padding: 2em 1.5em 1em;
         width: 100%;
         height: 60%;
         overflow: hidden scroll;

         form {
            .search-input {
               padding: 0 0.5em 0.3em 0.2em;
               width: 85%;
            }

            button {
               width: 60px;
               height: 65px;
            }
         }

         ul {
            height: 100%;

            h3 {
               margin: $pad-500 0;
            }
         }

      }
   }
}



@media screen and (min-width: 650px) and (max-width: 900px) {
   .container {

      .column {
         padding: 2em 2.5em 1em 2em;
         width: 100%;
         width: 68%;
         height: 100%;
      }

      .weather-info {
         gap: $pad-300;
         grid-template-columns: max-content 1fr auto;

         .temp {
            word-spacing: -16px;
         }

         .city-date {
            h1 {
               font-size: $fs-400;
            }
         }
      }

      .weather-panel {
         padding: 2em 1em 0;
         width: 35%;
         height: 100%;

         form {
            .search-input {
               width: 80%;
            }

            &::placeholder {
               font-size: 0.8rem;
            }

            button {
               width: 60px;
               height: 70px;
            }

         }
      }
   }
}