@use "../abstracts/index" as *;

body {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: all 0.3s linear;
  @include bg-image(url('/images/night/rainy.jpeg'));

}

body:has(.loading) {
  background-image: url('/images/loading-bg.jpg') !important;
}

.loading {
  @include flex-column($align: center);
  gap: $pad-400;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  span {
    color: #aeead3;
    letter-spacing: 1px;
    font-weight: $fw-bold;
    text-shadow: $ts-200;
    user-select: none;
  }
}

.weather-app {
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}


.container a {
  color: inherit;
  font-weight: $fw-semi-bold;
  text-decoration: none;
  display: inline-block;

}

.container :is(a, .icon, button) {
  cursor: pointer;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.container input {
  @include form-input-reset();
}

.container button {
  @include button-reset();
}

.container button,
.container button:hover,
.container button:focus,
.container button:focus-visible {
  outline: none;
}

.container .full-width {
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}

.container .truncate {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}